.hidden-print
  = t ".astuce"
  %a{href: "javascript:if(window.print)window.print()"}= t ".imprimez"
  %br
  = t ".ou"
  %br
  %a.btn.btn-bast{href: "/CV/CV_bastien_pruvost_#{I18n.locale}.pdf"}
    = t ".telecharger"