- content_for :head do
  = javascript_include_tag 'jquery.flexslider'
  = javascript_include_tag 'portfolio'
  :javascript
    $(function() { $("#menu li a[href='/#{I18n.locale}']").parent().addClass("active"); });

  = stylesheet_link_tag 'homepage'
  = stylesheet_link_tag 'portfolio'
  = stylesheet_link_tag 'flexslider'

#slider.container
  = render partial: "pages/homepage_partials/carousel"
      
#homecontainer.container
  .row
    .col-sm-4
      %img#fret.homepage-sticker.img-responsive{src: "/assets/moi.png", alt: "bastien pruvost"}
      = render partial: "pages/homepage_partials/presentation"

    .col-sm-4
      %img.homepage-sticker.img-responsive{src: "/assets/http.png", alt: "web"}
      = render partial: "pages/homepage_partials/site"

    .col-sm-4
      %img.homepage-sticker.img-responsive{src: "/assets/collaboration.png", alt: "colloboration"}
      = render partial: "pages/homepage_partials/collaborons"

#container.lastprojects.container
  .place
    .box
      .box-title
        = t ".exemples"
      .portfolioContainer#portfolio
        - @projects.each do |p|
          = render partial: "projects/project", locals: {projet: p}

        .item
          %a{href: projects_path}
            .hover_message
              .link= t "general.savoir_plus"
            %img.img_responsive{src: "/assets/projects.png", alt: t(".tous_projets")}
            .title= t ".tous_projets"