:javascript
  $("#menu li a[href='/']").parent().addClass("active")

#slider.container
  = render partial: "pages/homepage_partials/carousel"
      
#homecontainer.container
  .row
    .col-sm-4
      %img#fret.homepage-sticker.img-responsive{src: "/assets/moi.png"}
      = render partial: "pages/homepage_partials/presentation"

    .col-sm-4
      %img.homepage-sticker.img-responsive{src: "/assets/http.png"}
      = render partial: "pages/homepage_partials/site"

    .col-sm-4
      %img.homepage-sticker.img-responsive{src: "/assets/collaboration.png"}
      = render partial: "pages/homepage_partials/collaborons"

#container.lastprojects.container
  .place
    .box
      .box-title
        = t ".exemples"
      .portfolioContainer#portfolio
        - @projects.each do |p|
          = render partial: "projects/project", locals: {projet: p}

        .item
          %a{href: "/projects/"}
            .hover_message
              .link= t "general.savoir_plus"
            %img.img_responsive{src: "/assets/projects.png"}
            .title= t ".tous_projets"

:javascript
  $(window).load(function(){
    startPortfolio();
  });