- content_for :head do
  = javascript_include_tag 'portfolio'
  :javascript
    $(function() { $("#menu li a[href='/#{I18n.locale}/projects']").parent().addClass("active"); });

  = stylesheet_link_tag 'portfolio', :media => "all"

#container.container
  - flash.each do |name, msg|
    .error.center
      = msg

  .portfolioFilter
    %a.current{href: "#", "data-filter" => "*"}
      = t ".toutes"
    %a{href: "#", "data-filter" => ".web"}
      Web
    %a{href: "#", "data-filter" => ".mobile"}
      Mobile
    %a{href: "#", "data-filter" => ".desktop"}
      Desktop
    %a{href: "#", "data-filter" => ".gp"}
      = t ".gp"
      

  .portfolioContainer#portfolio
    - @projects.each do |p|
      = render partial: "project", locals: {projet: p}


  :javascript
    $(window).load(function(){
      startPortfolio();
    });