- content_for :head do
  :javascript
    $(function() { $("#menu li a[href='/#{I18n.locale}/projects']").parent().addClass("active"); });

  = stylesheet_link_tag 'project'

#container.container
  #left_col{class: "col-md-"+(12 - @img_col_width).to_s}
    #name= @project.title
    #project_presentation
      = render file: "projects/description_partials/#{I18n.locale}/#{@project.common_name}"


  - if @project.image
    #right_col{class: "col-md-"+@img_col_width.to_s}
      %img.img-responsive{src: "/assets/projects/large/"+@project.image[:src]}
