- content_for :head do
  :javascript
    $(function() { $("#menu li a[href='/#{I18n.locale}/contact']").parent().addClass("active"); });
  = stylesheet_link_tag 'contact'

#container.contact.container
  - flash.each do |name, msg|
    .error.center
      = msg

  .row
    .col-md-9.absolute_center
      %h3= t ".contact"
      =form_for @message, :class => "form-horizontal", :url => contact_path do |form|
        .form-group
          .col-sm-2= t ".nom"
          .col-sm-10
            = form.text_field :name, :class => "form-control input-sm"

        .form-group
          .col-sm-2= t ".email"
          .col-sm-10
            = form.email_field :email, :class => "form-control input-sm"

        .form-group
          .col-sm-2= t ".sujet"
          .col-sm-10
            = form.text_field :subject, :class => "form-control input-sm"

        .form-group
          .col-sm-2= t ".message"
          .col-sm-10
            = form.text_area :body, :class => "form-control", :rows => 6

        .form-group
          = form.submit t(".envoyer"), :class => "btn btn-default"

    .col-md-3
      %h3= t ".info"
      .informations
        %br
        251 rue Faidherbe,62400 Béthune 
        %br
        bastien.pruvost <at > gmail.com 
        %br
        +33 6 51 66 44 74 

      .social
        %h3 Social
        = render partial: "social"