.clear
.container
  #footer.hidden-print
    = t "general.maj"
    = (I18n.locale == :en ) ? "Dec. 10, 2013" : "10 Déc. 2013"
    %br
    = t "general.optimise"
    %br
    BastienPruvost.com - Copyright &copy; 2013 - 
    = t "general.reserve"
  #footer.well.well-sm.visible-print
    = t "general.imprime"