!!!5
%html{lang: I18n.locale}
  %head
    %link{rel: "alternate", hreflang: @flag, href: "http://www.bastienpruvost.com"+@url_translated}
    %link{rel: "author", href: "http://plus.google.com/114162255802000996547?rel=author"}
    %meta{name: "viewport", content: "width=device-width"}
    %meta{name: "google-site-verification", content: "THpP0FuV-EH5T7B30-mKRD1jmQszMqsj8DcYgLdthBs"}
    %meta{"http-equiv"=>"Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "keywords", :content => "#{t 'meta.keywords'}"}

    %meta{:name => "description", :content => "#{@meta.try(:[], :description) || t('meta.description')}"}
    %title= @meta.try(:[], :title) || "Bastien Pruvost"

    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render partial: "layouts/partials/header"
    = yield
    = render partial: "layouts/partials/footer"
